body{
    margin: 0;
}

header
{
    display: flex;
    flex-direction: column;
}

.tres
{
    background-color: #F0F2F2 ;
    display: flex;
}

.cuatro
{
    background-color: antiquewhite;
    text-align: center;
    font-family: consolas;
}

.uno
{
    color: #3D83CD;
    font-family: consolas;
    font-size: 18pt;
}

.dos
{
    color: #7C6FBB;
    font-family: consolas;
    font-size: 18pt;
}

.usuario
{
    font-family: consolas;
    font-size: 16pt;
    text-decoration: none;
    padding: 0.4em 0.8em 0.4em 0.8em;
    background-color: #FBFCDA;
    border: 1px solid #CFCFB4;
    border-radius: 20px;
    color: #289E2D;
}

footer
{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    color: white;
    display: flex;
    align-items: center;
    font-family: consolas;
}

.cinco
{
    padding-left: 1%;
    padding-right: 1em;
    border-right: 1px solid white;
}

.normas
{
    color: white;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    border-right: 1px solid white;
}

.contacta
{
    color: white;
    text-decoration: none;
    padding-left: 1em;
}

nav{
    margin-left: -1.3%;
}

.nueve
{
    margin-top: -0.01%;
    background-color: #FBF1FD;
    display: flex;
    list-style: none;
}

.nueve>li
{
    padding: 0.4% 0.8%;
}

.nueve>li:hover
{
    background-color: #F4B5DD;
}

.nueve>li a
{
    font-family: consolas;
    text-decoration: none;
    color: #6D6D73;
}

.regpartidas, .elimpartidas
{
    border-right: 1px solid #A5A5A9;
}

.tres>div:nth-child(1){
    width: 3.7%;
}

.tres>div:nth-child(2){
    font-family: consolas;
    width: 20%;
    margin-top: 1.1%;
    margin-left: 1%;
}

.tres>div:nth-child(3)
{
    width: 7%;
    align-self: center;
    text-align: center;
    margin-left: 21%;
}

.tres>div:nth-child(4){
    font-family: consolas;
    width: 20%;
    align-self: center;
    text-align: center;
    padding: 0.3%;
}

.tres>div:nth-child(5)
{
    margin-left: 0.5%;
    align-self: center;
    width: 14%;
    font-family: consolas;
    font-size: 9pt;
    text-align: center;
    padding: 0.3%;
}

.tres>div:nth-child(6)
{
    margin-left: 0.5%;
    align-self: center;
}

.horizontal
{
    list-style: none;
    display: flex;
    margin-left: -1.4em;
}

.horizontal>li:hover .vertical
{
    display: block;
}

.vertical
{
    position: absolute;
    display: none;
    margin-top: 0.5%;
    border: 1px solid #CFCFB4;
    list-style: none;
    background-color: #FBFCDA;
    font-family: consolas;
}

.vertical>li:hover
{
    background-color: #F8FCB0;
}

.vertical>li
{
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: -2.4em;
}

.vertical>li>a
{
    text-decoration: none;
    color: #289E2D;
}

.diez
{
    font-family: consolas;
    display: inline-block;
    padding: 7%;
    background-color: #E0E0E0;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}

.diez:hover
{
    background-color: #B5A1E2;
}
